Write a program using zip() function and list() function, create a merged list of tuples from the two lists given

In [1]:
planet = ('mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune')
star = ('sun', 'moon', 'stars')
x = zip(star, planet)
print(x)
list(x)

<zip object at 0x000002A2B9FF82C0>

[('sun', 'mercury'), ('moon', 'venus'), ('stars', 'earth')]

First create a range from 1 to 8. Then using zip, merge the given list and the range together to create a new list of tuples

In [2]:
alphabets = ['a', 'b', 'c', 'd', 'e']
y = range(1,9)
for n in y:
    print(n)
zipped = zip(y, alphabets)
print(zipped)
tuple(zipped)

1
2
3
4
5
6
7
8
<zip object at 0x000002A2BA030200>

((1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'))

Using sorted() function, sort the list in ascending order

In [3]:
a = sorted(planet)
print(a)

['earth', 'jupiter', 'mars', 'mercury', 'neptune', 'saturn', 'uranus', 'venus']

Write a program using filter function, filter the even numbers so that only odd numbers are passed to the new list

In [4]:
def num(variable):
    letters = ['1', '3', '5', '7']
    if variable in letters:
        return True
    else:
        return False


# sequence
sequence = ['1', '2', '3', '4', '5', '6', '7']

# using filter function
filtered = filter(num, sequence)

print('the new numbers are: ')
b = list(filtered)
print(b)

the new numbers are:
['1', '3', '5', '7']